.header {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

.home-searchbar {
    margin: auto;
    margin-bottom: 30px;
}

@media only screen and (min-width: 599px) {
    .home-searchbar {
        display: none;
    }
    .content {
        padding: 100px 5% 50px 5%;
    }
}

@media only screen and (max-width: 600px) {
    .content {
        padding: 60px 2% 50px 2%;
    }
}